.tri{
    height:0;
    width:0;
    /* border-top:50px solid rgb(249, 238, 88); */
    border-left:100px solid transparent;
    border-right:100px solid transparent; 
    border-bottom:100px solid rgb(88, 249, 179); 
    
}